{% extends 'base.html' %}
{% block title %}Cursos{% endblock %}

{% block content %}
<h2 class="mb-3">Cursos Disponíveis</h2>

<a href="{% url 'curso_create' %}" class="btn btn-primary btn-sm mb-3">+ Novo Curso</a>

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Carga Horária</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>

    {% for curso in cursos %}
    <tr>
      <td>{{ curso.nome }}</td>
      <td>{{ curso.descricao }}</td>
      <td>{{ curso.carga_horaria }}</td>
      <td>
          {% if curso.ativo %}
          <span class="text-success">Ativo</span>
          {% else %}
           <span class="text-danger">Inativo</span>
          {% endif %}
        </td>
        <td>
            <a href="{% url 'curso_update' curso.id %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'curso_delete' curso.id %}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/" class="btn btn-secondary btn-sm mt-3">⬅ Voltar</a>

{% endblock %}
