{% extends 'base.html' %}
{% block title %}Alunos{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Lista de Alunos</h2>

<a href="/alunos/novo/" class="btn btn-success mb-3">➕ Novo Aluno</a>

<table class="table table-striped shadow">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.data_nascimento }}</td>
            <td>
                <a href="/alunos/editar/{{ aluno.id }}/" class="btn btn-warning btn-sm">✏️</a>
                <a href="/alunos/excluir/{{ aluno.id }}/" class="btn btn-danger btn-sm">🗑️</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/" class="btn btn-outline-primary">⬅️ Voltar</a>
{% endblock %}
